CServer/.vscode/
Net/.vs/
Net/AlpacaDiscovery/obj/
Net/CoreDiscovery/.vs/
Net/CoreDiscovery/bin/
Net/AlpacaDiscovery/bin/
Net/CoreDiscovery/linux/
Net/CoreDiscovery/osx/
Net/CoreServer/bin/
Net/CoreServer/linux/
Net/CoreServer/obj/
Net/CoreServer/osx/
Net/FxDiscovery/bin/
Net/FxDiscovery/obj/
Net/FxServer/obj/
Net/FxServer/bin/
Python/.vscode/
Python/env/
Python/__pycache__/
Net/CoreDiscovery/obj/
Dart/alpaca_discovery/.dart_tool/
Dart/alpaca_discovery/.packages
Dart/alpaca_discovery/build/
Dart/alpaca_discovery/doc/api/
Java/alpaca_discovery/out/

*.iml

Java/alpaca_discovery/.idea/